*, *::before, *::after {
    box-sizing: border-box;
}


@media (min-width: 1200px){
    .hotel-details{
        padding: 25px 100px !important;
    }
    .booking-card{
        height: 400px;
    }
}

:root{
    --primary-color: #33865E;
    --secondary-color: rgb(79, 75, 75);
    --light-grey: #a29f9f;
}

.hotel-details{
    margin-top: 90px;
    padding: 25px 30px;
}

.gallery-booking{
    display: grid;
    grid-template-columns: 2fr 1fr 300px;
    gap: 15px;
    align-items: start;
}

.main-img img{
    width:100%;
    height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.other-images{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.other-images img{
    width: 100%;
    height: 190px;
    border-radius: 8px;
    display: block;
}

.subtitle{
    display: flex;
    gap: 10px;
    color: #222;
    font-weight: 500;
    font-size: 13px;
    align-items: center;
}

.hotel-city{
    display: flex;
    align-items: center;
}

.rating-title svg{
    width: 13px;
    height: 13px;
}

.rating-title{
    background: rgb(233, 202, 144);
    padding: 3px 5px;
    align-items: center;
    border-radius: 100px;
    color: rgb(86, 61, 14);
    font-size: 13px;
    font-weight: 600;
}

.hotel-city svg{
    width: 14px;
    height: 14px;
    color: #2563EB;
}

.rating-title{
    display: flex;
    gap: 2px;
}

.booking-card{
    padding: 12px 16px 10px 16px;
    border:1px solid #a29f9f;
    grid-column: 3;
    grid-row: 1;
    border-radius: 8px;
}
.priceNight{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hotel-amenities h2{
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0px;
    margin: 10px 0px;
}
.amenities-list{
    display: flex;
    align-items: center;
    font-size: 13px;
    gap:12px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}   


.main-title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.amenity svg{
    width: 15px;
    height: 15px;
    color: #2563EB;
}

.amenity{
    display: flex;
    gap: 5px;
    color: rgb(79, 75, 75);
    padding: 6px 10px;
    background: #f0f2f5;
    border: 1px solid #b2cfd7;
    border-radius: 10px;
}

.pricetag{
    display: flex;
    font-size: 18px;
    font-weight: 520;
    align-items: center;
}
.pricetag svg{
    width: 16px;
}

#perN, #taxfee{
    font-size: 12px;
    color: #424141;
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.hotel-title h1{
    font-size: 24px;
    font-weight: 700;
}

.similar-hotels h2{
    font-weight: 600;
}


.booking-dates input::placeholder, input[type="date"]{
    font-size: 12px;
    color: #767575;
    border: none;
    border-bottom:1px solid #222;
    width: 100%;
    max-width: 200px;
    background: none;
}
.booking-dates input::placeholder, input[type="date"]::-webkit-calendar-picker-indicator:hover{
    cursor:pointer;
}

.booking-dates{
    font-size: 14px;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 10px;
    padding: 12px 10px;
    border-radius: 12px;
}
.dates{
    display: flex;
    flex-direction: column;
}

.dates-alerting{
    display: flex;
    font-size: 11px;
    align-items: center;
    font-weight: 500;
    margin-top: 3px;
    gap: 3px;
}

.dates-alert-msg, .dates-alerting svg{
    color: rgb(113, 34, 34);
}

.dates-alerting svg{
    width: 12px;
}

.dates label{
    font-size: 13px;
}

.booking-room-info input[type="Number"]{
    width: 30px;
    border: none;
    border-bottom: 1px solid #222;
    background: none;
    text-align: center;
}


.booking-room-info{
    font-size: 13px;
    margin-top: 10px;
    color: var(--secondary-color);
    font-weight: 500;
}

.book-now{
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    background: var(--primary-color);
    color: white;
    border: none;
    font-weight: 500;
    transition: background .2s ease, transform .2s ease;
}

.book-now:hover{
    cursor: pointer;
    background:#2D7553;
    transform: translateY(-1px);
}

.totalprice{
    display: flex;
    font-size: 16px;
    color: black;
}

.finalprice, #price-val{
    color: blue;
    font-weight: 500;
    padding: 0;
}

.booking-price svg{
    width: 16px;
}

#dashed-line{
    border: none;
    border-top: 2px dashed blue;
    margin: 12px 0;
}

.booking-guests{
    display: flex;
    margin-top: 10px;
}

.booking-guests p, .room-count label{
    padding-right: 5px;
}

.total-head{
    font-weight: 500;
    padding-right: 5px;
}

#guestCount{
    color: black;
    font-weight: 400;
}

.hotel-desc{
    margin: 10px 0px;
}

.hotel-desc h2{
    font-size: 15px;
    font-weight: 600;
}

.hotel-desc p{
    font-size: 14px;
}
.hotel-head{
    grid-column: 1 / span 3;
}

.info-top{
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2rem;
    margin-top: 20px;
    gap: 15px;
}

.hotel-ratings{
    padding: 12px 16px;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
}

.rat-rev-head h2{
    font-size: 16px;
    font-weight: 600;
}

.rat-rev{
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating-head{
    font-size:30px;
    color: var(--primary-color);
    font-weight:600;
}

.review{
    font-size: 13px;
    color: var(--secondary-color);
}

.rating-list{
    font-size: 14px;
}

.rating-bar{
    border-radius: 999px;
    height: 5px;
    overflow: hidden;
    width: 100%;
    border: 1px solid var(--primary-color);
    max-width: 200px;

}
.rating-fill{
    border-radius: 999px;
    height: 100%;
    background: var(--primary-color);
}

#rating-val{
    font-weight: 600;
    text-align: right;
}

.rat-list-container{
    display: flex;
    gap: 10px;
    align-items: center;
}


@media (min-width: 769px) and (max-width: 992px) {
    .gallery-booking {
        grid-template-columns: 2fr 1fr;
    }

    .booking-card {
        grid-column: 1/-1;
        grid-row: 3;
    }
    .booking-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        align-content: start;
    }
    .booking-room-info{
        grid-column: 1;
        grid-row: 2;
    }
    .hotel-head{
        grid-column: 1 / -1;
    }
    .info-top{
        grid-template-columns: 1fr 1fr;
        align-items: start;
        align-content: start;
        box-sizing: border-box;
    }
}


@media (max-width: 768px) {
    .gallery-booking {
        grid-template-columns: 1fr;
    }

    .hotel-head{
        grid-column:auto;
        grid-row:auto;
    }

    .info-top{
        grid-template-columns: 1fr;
    }

    .booking-card {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        grid-column:auto;
        grid-row:auto;
        height: 60px;
        background: rgb(26, 25, 25);
        box-sizing:border-box;

        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        z-index: 1000;
    }
    .booking-card{
        min-height: 60px;
        height: auto;
    }
    .book-now{
        margin: 0;
        width: auto;
        max-width: 120px;
    }

    #perN, #taxfee{
        color: rgb(138, 134, 134);
        font-weight: 400;
    }

    .hotel-details {
        padding-bottom: 90px;
    }
    .booking-dates, .booking-room-info, .booking-guests, .booking-price{
        display: none;
    }

    .other-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-img img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .other-images img{
        width:100%;
        height:200px;
        object-fit:cover;
    }

    .amenities-list{
        flex-wrap: wrap;
        gap: 12px 20px; 
    }

}

