
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

:root{
    --primary-color: #33865E;
    --border-bottom-grey: 1px solid rgb(220, 217, 217);
    --filter-head-bg: rgb(250, 247, 247);
}

.container{
    padding: 25px 30px;
}

body, html{
    margin:0;
    overflow-x: hidden;
}

body{
    background:#fafafa;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    padding: 25px 30px;
    position: fixed;
    background: var(--filter-head-bg);
    z-index: 10;
    box-shadow: 0px 2px 25px rgba(22, 22, 22, 0.08);
}


@media(min-width: 1200px){
    
    .container{
        padding: 25px 100px !important;
    }
    .navbar{
        padding: 25px 100px !important;
    }
    .hotel-head{
        padding: 8px 25px !important;
    }
    .hotels-page{
        grid-template-columns: 300px 1fr !important;
    }
    .filters-card{
        width: 300px !important;
    }
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    list-style-type: none;
    position: relative;
}

.nav-menu a.active{
    border-bottom: 2px solid #33865E;
    padding-bottom: 4px;
}

.nav-menu a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
#loginbtn{
    display: none;
}

.loginout{
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-right: 30px;
    padding: 5px 15px;
    background: #33865E;
    border-radius: 7px;
    font-weight: 500;
}
.menu-close{
    display: none;
}
.nav-logo{
    color: black;
    font-family: 'protest riot', 'poppins', sans-serif;
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 3px;
}

.nav-logo svg{
    width: 20px;
    display: block;
    color: #33865E;
}

.nav-container{
    display: flex;

}

.nav-toggle{
    display: none !important;
}

.hotels-page{
    display: grid;
    grid-template-columns: 235px 1fr;
    margin-top: 130px;
    align-items: start;
}


.filters-container{
    position: sticky;
    align-self: start;
}
@media (min-width: 769px){

    .filters-card{
        height: calc(100vh - 170px);
        position: fixed;
        width: 230px;
        overflow-y: auto;
        margin-bottom: 50px;
        overscroll-behavior: contain;
    }

}

.filters-card{
    /*border: 1px solid rgb(203, 202, 202);*/
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}
.hotel-content{
    word-break: break-all;
}

.hotel-container{
    border: 1px solid rgb(203, 202, 202);
}

.hotels-page{
    gap: 25px;
    margin-bottom: 100px;
}

.hotel-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotelactionicons{
    display: flex;
    gap: 10px;
}

#sorticon{
    position: relative;
    transition: transform 0.3s ease;
}

.filter-toggle{
    display: none;
}

#destsearch{
    width: 100%;
}

.dest-field{
    grid-column: 1 / -1;
}
#guests, #rooms{
    width: 100%;
}
.search-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.search-div{
    font-size: 15px;
    background: rgb(250, 247, 247);
    padding: 8px;
    font-weight: 500;
    border-bottom: 1px solid rgb(203, 202, 202);
}

.searchcontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin :0 auto;
    padding: 10px;
    border-bottom: 1px solid rgb(220, 217, 217);
    width: 100%;
}

.searchfield{
    font-size: 13px;
}

.searchfield input{
    border: none;
    border-bottom: 1px solid rgb(133, 131, 131);
    padding: 3px 5px;
    outline: none;
    min-width: 0;
}

.searchfield input::placeholder, input[type="date"]{
    font-size: 12px;
    color: #aaa9a9;
}


input[type="date"]:valid{
    color: black;
}

#checkin, #checkout{
    width: 100%;
}

.checkinfield, .checkoutfield{
    grid-column: 1 / -1;
}


.searchfield label{
    display: flex;
    align-items: center;
    gap: 3px;
}

.searchfield svg{
    width: 16px;
    color: #2e9161;
}

#searchroomsbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    font-size: 13px;
    border: none;
    background-color: #33865E;
    color: white;
    font-weight: 500;
    grid-column: 1 / -1;
    width: 100%;
}
.dest-field{
    position: relative;
}
#suggestions{
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 10;
}

.suggestion-item{
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
}

.suggestion-item:hover{
    background: #f2f2f2;
}

#searchroomsbtn:hover{
    transform: translateY(-2px);
    cursor: pointer;
}

#searchroomsbtn:active{
    transform: translateY(3px);
}

#searchroomsbtn svg{
    width:20px;
}

.ratings-content label{
    display: flex;
    padding-left: 10px;
    font-size: 13px;
    gap: 8px;
    color: rgb(40, 40, 40);
}

.ratings-container{
    border-bottom: var(--border-bottom-grey);
}

.ratings-option span{
    display: flex;
    gap: 3px;
    align-items: center;
}


.ratings-content{
    padding: 10px;
}

.ratings-option svg{
    width: 16px;
    color: #fbbf24;
}

input[type="radio"]{
    accent-color: #33865E;
}

.filter-head{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: rgb(95, 93, 93);
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: var(--border-bottom-grey);
}
.ratinghead, .pricehead, .propertyhead, .amenitieshead{
    padding: 8px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: var(--border-bottom-grey);
    background: var(--filter-head-bg);
}

.price-container, .property-container, .amenities-content{
    border-bottom: var(--border-bottom-grey);
}

.price-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
}

input[type="range"]{
    accent-color: var(--primary-color);
    height: 3px;
}
input[type="range"]:hover{
    cursor:pointer;
}


.pricevalue p{
    font-size: 13px;
    align-items: center;
    display: flex;
    padding-top: 10px;
}
.pricevalue svg{
    width: 16px;
    padding-left: 5px;
}

.pricevalue span{
    font-weight: 500;
    color: rgb(67, 67, 67);
}

.property-content, .amenities-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}


.property-content label, .amenities-content label{
    display: flex;
    padding-left: 10px;
    gap: 8px;
    font-size: 13px;
}

input[type="checkbox"]{
    accent-color: var(--primary-color);
}

.apply-reset{
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 30px;
    font-size: 15px;
    font-weight: 500;
}

#reset{
    padding:  5px 10px;
    border:1px solid rgb(172, 172, 172);
    border-radius:8px;
    transition: all 0.3s ease;
}

#apply{
    padding:  5px 10px;
    background: var(--primary-color);
    border-radius:8px;
    color: white;
    transition: all 0.3s ease;
}

#sort-container{
    display: none;
    position: absolute;
    padding: 10px;
    border: var(--border-bottom-grey);
    right: -5px;
    top: -17px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.08);
    background: white;
    z-index: 100;
}

#sort-container.active{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sort-container.active .sort-content{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 3px;
    padding: 8px;
}

#sort{
    display: flex;
    gap: 5px;
}

#sortbtn:hover, .filter-toggle:hover{
    color: var(--primary-color);
    transform: translateY(-1px);
    cursor: pointer;
}

#apply:hover, #reset:hover{
    transform: translateY(-2px);
    cursor: pointer;
}
#reset:hover{
    background: rgb(222, 221, 221);
}

#apply:hover{
    background:#2c7552;
}

.sort-head{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: rgb(95, 93, 93);
    font-weight: 600;
    padding: 3px 0;
    border-bottom: var(--border-bottom-grey);
    border-top: var(--border-bottom-grey);
    width: 100%;
}

.hotel-head{
    padding: 8px;
    border-bottom: var(--border-bottom-grey);
}

.close-menu{
    display: none;
}

.hotel-content{
    padding: 20px;
}

#hotel-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

#hotel-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.hotel-name{
    font-size: 15px;
    font-weight: 500;
}
.hotel-city{
    font-size: 14px;
    color: #222;
}
.hotel-rating{
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    padding: 7px;;
}
.hotel-rating svg{
    width: 16px;
    color: #fbbf24;
}

.hotel-price{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.hotel-price svg{
    width: 16px;
}
.hotel-price span{
    font-size: 13px;
}



@media (max-width: 768px){

#hotel-list{
    grid-template-columns: repeat(2,1fr);
}

#sort-container{
    top: -8px;
    right: -10px;
}

.search-div{
    display: flex;
    justify-content: space-between;
}

.close-menu{
    display: flex;
    color: var(--primary-color);
}

.close-menu:hover{
    cursor: pointer;
}

.filters-container{
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 87vh;  
    background: white;
    border-radius: 20px 20px 0 0;
    z-index: 1000;

    transform: translateY(100%);
    transition: transform 1s ease;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.filters-container.active{
    transform: translateY(0);
    display: block
}

.hotels-page{
    grid-template-columns: 1fr;
}

.filter-toggle{
    display: block;
}

.hotel-container{
    padding: 0 8px;
    margin-top: 50px;
}

.container{
    padding: 25px 30px;
}


.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #33865E;
    padding: 25px 30px;
}


#loginbtn{
    display: block;
}

.loginout{
    display: none;
}

.nav-toggle{
    display: block !important;
    color: white;
    cursor: pointer;
}
.hamburger{
    display: flex;
    margin-left: auto;
}
.nav-menu{
    position:fixed;
    width: 100%;
    height: 300px;
    opacity: 0;
    background: #33865E;
    pointer-events:none;
    transform:translateY(-30px);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.menu-item a{
    color: white;
    font-size: 15px;
    font-weight: 500;
}

#loginbtn a{
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.nav-menu.active{
    opacity: 0.95;
    pointer-events: auto;
    transform: translateY(0);
}

.menu-close{
    display: block;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 25px;
    right: 30px;
}

.nav-logo{
    color: white;
}

.nav-logo svg{
    color: black;
}


}