*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

#home{
    background-image: linear-gradient(
        rgb(0,0,0,0.85),
        rgba(0,0,0,0.45)
    ),
    url(../assets/homehotel.webp);
    width: 100%;
    height:60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px 70px;
    position: relative;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 25px;
}


@media(min-width: 1200px){
    
    #home, #destinations{
        padding: 25px 300px !important;
    }
    .search-container{
        gap: 20px;
        width:950px;
    }
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    list-style-type: none;
    position: relative;
}

.nav-menu a.active{
    border-bottom: 2px solid #33865E;
    padding-bottom: 4px;
}

.nav-menu a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#loginbtn{
    display: none;
}

.loginout{
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-right: 20px;
    padding: 5px 15px;
    background: #33865E;
    border-radius: 7px;
    font-weight: 500;
}
.menu-close{
    display: none;
}
.nav-logo{
    color: white;
    font-family: 'protest riot', 'poppins', sans-serif;
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 3px;
}

.nav-logo svg{
    width: 20px;
    display: block;
    color: #33865E;
}

.nav-container{
    display: flex;
}

.nav-toggle{
    display: none;
}

.home-content{
    display: flex;
    align-items: center;
    margin-top: 50px;
    max-width: 500px;
}

.mainline{
    color: white;
    font-weight: 600;
        font-size: 30px;
}
.subline{
    font-size: 16px;
    color: white;
}

.search-container{
    position: absolute;
    display: flex;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.searchfield{
    font-size: 13px;
}

.searchfield input{
    border: none;
    border-bottom: 1px solid black;
    padding: 8px 5px;
    outline: none;
}

.searchfield input::placeholder, input[type="date"]{
    font-size: 12px;
    color: #aaa9a9;
    
}

input[type="date"]:valid{
    color: black;
}

.searchfield label{
    display: flex;
    align-items: center;
    gap: 3px;
}

.searchfield svg{
    width: 16px;
    color: #2e9161;
}

#searchroomsbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    font-size: 13px;
    border: none;
    background-color: #33865E;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
}

#searchroomsbtn:hover{
    transform: translateY(-2px);
}

#searchroomsbtn:active{
    transform: translateY(3px);
}

#searchroomsbtn svg{
    width:20px;
}

.searchcontent{
    display: flex;
    padding: 20px 20px;
    gap: 30px;
}

#destsearch, #checkin, #checkout{
    width: 100%;
}

#guests, #rooms{
    width: 70px;
}

#destinations{
    margin-top: 150px;
    padding: 25px 70px;
}

.dest-field{
    position: relative;
}
#suggestions{
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 10;
}

.suggestion-item{
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
}

.suggestion-item:hover{
    background: #f2f2f2;
}

.desthead{
    font-size: 28px;
    font-weight: 600;
    color: #222;
}

.dest-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.destcard{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dest-overlay{
    position: absolute;
    bottom: 4px;
    left: 8px;
    z-index: 2;
    color: white;
}

.dest-overlay h3{
    font-size: 18px;
}
.dest-overlay p{
    font-size: 13px;
}

.viewhotelsidf{
    position: absolute;
    left: 85%;
    color: white;
    bottom: 8px;
    z-index: 2;
    font-size: 20px;
}

.destcard:hover{
    transform: translateY(-2px);
}

.destcard::after{
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.1)
    );
    transition: background 0.5s ease;
}

.viewhotelsidf{
    display: inline-block;
    transition: transform 0.3s ease;
}

.destcard:hover .viewhotelsidf{
    transform: translateX(5px);
}


.destimg{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.destcard:hover .destimg{
    transform: scale(1.06);
    transition: transform 0.6s ease;
}

.destcard:hover::after{
    background: linear-gradient(
        to bottom,
        rgba(89, 87, 87, 0.5),
        rgb(0,0,0,0.85)
    );
}

.viewmoredestbtn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#moredest{
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: #33865E;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

#moredest:hover{
    transform: translateY(-3px);
    background: #2b7350;
}
#moredest:active{
    transform: translateY(2px);
}

@media (max-width: 550px){
    .dest-container{
        grid-template-columns: 1fr !important;
        align-items: center;
    }

}


@media (max-width: 768px){


.dest-container{
    grid-template-columns: repeat(2, 1fr);
}

#destinations{
    margin-top: 260px;
    padding: 25px 70px
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.searchcontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin :0 auto;
    max-width: 300px;
}
.search-container{
    max-width: 400px;
    bottom: -50%;
}


#searchroomsbtn{
    grid-column: 1 / -1;
    width: 100%;
}
.dest-field{
    grid-column: 1 / -1;
}
#guests, #rooms{
    width: 100%;
}

#loginbtn{
    display: block;
}

.loginout{
    display: none;
}

.nav-toggle{
    display: block;
    color: white;
    cursor: pointer;
}
.hamburger{
    display: flex ;
    margin-left: auto;
}
.nav-menu{
    position:fixed;
    width: 100%;
    height: 300px;
    opacity: 0;
    background: white;
    pointer-events:none;
    transform:translateY(-30px);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item a{
    color: #222;
    font-size: 15px;
    font-weight: 500;
}

#loginbtn a{
    color: #33865E;
}

.nav-menu.active{
    opacity: 0.95;
    pointer-events: auto;
    transform: translateY(0);
}

.menu-close{
    display: block;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 25px;
    right: 70px;
}



}